.App {
  text-align: center;
}

body{
  background-color: gray;
}

#display {
  background-color: gray;
  margin-top: 35vh;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.drum-pad {
  display:grid;
  background-color: green;
}

#Q{
  background-color: aliceblue;
}